<div id="elements">
  <%= render 'elements', elements: @elements %>
</div>

<script>
  $(function() {
    $(".item_row").live("click", function(evt) {
      var id = $(evt.target).parent().attr('id');
      window.location.href = '/users/<%= current_user.id %>/elements/' + id + '/edit'
    });

    $(".pagination a").live("click", function() {
       $.ajaxSetup({ cache: true })
      $.getScript(this.href)
      history.pushState(null, document.title, this.href);
      $(".pagination").html("Page is loading...");
      return false;
    });

//    $(window).bind("popstate", function() {
//      $.getScript(location.href);
//    }); 
  });
</script>
