<table>
  <thead>
  <tr>
    <th>Question</th>
    <th>Answer</th>
  </tr>
</thead>
<tbody>
  <% @elements.each do |item| %>
  <tr id="<%= item.id %>" class="item_row">
    <td><%= item.question[0..20] %></td>
    <td><%= item.answer[0..20] %></td>
  </tr>
  <% end %>
</tbody>
</table>

<script>
  $(".item_row").click( function() {
    var id = $(event.target).parent().attr('id');
    window.location.href = '/users/<%= current_user.id %>/elements/' + id + '/edit'
  });
</script>
