<%= link_to "Create a new item", new_user_item_path(current_user), class: 'btn' if @owner%>
<%= content_tag(:h3, "#{@owner_name}'s items") unless @owner %>
<div id="items">
  <%= render 'items', items: @items %>
</div>

<script>
  var item_row_color = $('.item_row').css('background-color');
  $(function() {
    $(".item_row").live({
      "click": function(evt) {
        var id = $(evt.target).parent().attr('id');
        <% if params[:user_id] == nil || current_user == params[:user_id]  %>
        window.location.href = '/users/<%= current_user.id %>/items/' + id + '/edit';
        <% else %>
        window.location.href = '/items/' + id + '/share';
        <% end %>
      },
      "mouseenter": function() {
        $(this).css('background-color', '#E0FFC8');
      },
      "mouseleave": function() {
        $(this).css('background-color', item_row_color);
      }
    });

    $(".pagination a").live("click", function() {
      $.ajaxSetup({ cache: false })
      $.getScript(this.href)
      history.pushState(null, document.title, this.href);
      $(".pagination").html("Page is loading...");
      return false;
    });

    $(window).bind("popstate", function() {
      $.getScript(location.href);
    }); 
  });
</script>
