* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, body {
  height: 100%;
  margin-bottom: 1px;
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee));
  background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
  background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
  background: linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
}


#note {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

.note_error {
  background: #ffb1aa;
  background: -moz-linear-gradient(top, #ffb1aa 0%, #ce6969 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb1aa), color-stop(100%,#ce6969));
  background: -webkit-linear-gradient(top, #ffb1aa 0%,#ce6969 100%);
  background: -o-linear-gradient(top, #ffb1aa 0%,#ce6969 100%);
  background: -ms-linear-gradient(top, #ffb1aa 0%,#ce6969 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb1aa', endColorstr='#ce6969',GradientType=0 );
  background: linear-gradient(top, #ffb1aa 0%,#ce6969 100%);
}

.note_notice {
  background: #ffff88;
  background: -moz-linear-gradient(top, #ffff88 0%, #ffff19 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff88), color-stop(100%,#ffff19));
  background: -webkit-linear-gradient(top, #ffff88 0%,#ffff19 100%);
  background: -o-linear-gradient(top, #ffff88 0%,#ffff19 100%);
  background: -ms-linear-gradient(top, #ffff88 0%,#ffff19 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff19',GradientType=0 );
  background: linear-gradient(top, #ffff88 0%,#ffff19 100%);
}

.note_success {
  background: #d2ff52;
  background: -moz-linear-gradient(top, #d2ff52 0%, #91e842 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842));
  background: -webkit-linear-gradient(top, #d2ff52 0%,#91e842 100%);
  background: -o-linear-gradient(top, #d2ff52 0%,#91e842 100%);
  background: -ms-linear-gradient(top, #d2ff52 0%,#91e842 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );
  background: linear-gradient(top, #d2ff52 0%,#91e842 100%);
}

.cssanimations.csstransforms #note {
  -webkit-transform: translateY(-50px);
  -webkit-animation: slideDown 4.5s 1.0s 1 ease forwards;
  -moz-transform:    translateY(-50px);
  -moz-animation:    slideDown 4.5s 1.0s 1 ease forwards;
}

.cssanimations.csstransforms #close {
  display: none;
}

@-webkit-keyframes slideDown {
  0%, 100% { -webkit-transform: translateY(-50px); }
  10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
  0%, 100% { -moz-transform: translateY(-50px); }
  10%, 90% { -moz-transform: translateY(0px); }
}

div.header {
  background-color: #202328;
  color: white;
  height: 30px;
  width: 100%;
  padding-top: 8px;
  -webkit-box-shadow: 0px 0px 3px 0px #6b6b6b;
  -moz-box-shadow: 0px 0px 3px 0px #6b6b6b;
  box-shadow: 0px 0px 3px 0px #6b6b6b;
}

.right {
  float: right;
}

.left {
  float: left;
}

#top {
  position: relative;
  margin: 0 auto;
  width:960px;
  padding-bottom: 30px;
}

#top ul {
  position: absolute;
  left: 0;
  bottom: 4px;
}

#top li {
  display: inline;
}

#logo {
  background: rgb(242,242,242); /* Old browsers */
background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(242,242,242,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  padding: 20px 20px 10px;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}

#logo h1 {
  padding-left: 200px;
}

a {
  text-decoration: none;
  color: #006E4D;
}

a:hover {
  color: #114032;
}

.top_link {
  padding: 5px;
  margin: 0 6px;
  background-color: #E6E6E6;
  border: 1px solid #C7C7C7;
  border-bottom: 0px solid;
}


#top a:hover {
  background-color: #D8F2EA;
  color: #006E4D;
}

#wrapper { 
  margin: 0 auto;
  width:960px;
  overflow: hidden;
  border: 1px solid #C7C7C7;
}
#body {
  padding: 5px;
}

#main, #sidebar {
  float: left;
  padding-bottom: 9999px;
  margin-bottom:-9999px;
}

#body {
  min-height: 400px;
}

#main {
  background: white;
  width: 650px;
}

#sidebar {
  border-left: 1px solid #C7C7C7;
  background:#DFDFDF;
  width: 309px;
}

#side_top {
  border-bottom: 1px solid #C7C7C7;
  padding: 3px;
}

#side_bottom {
  padding: 4px;
}

.side_stat {
  margin-left: 5px;
  font-size: 16px;
}

.clear {
  clear: both;
}
.header li {
  display: inline;
  padding: 10px;
}

.header a:visited, .header a {
  padding: 5px;
  color: white;
  text-decoration: none;
}

.header a:hover {
  color: #739FCE;
  text-decoration: none;
}

.header .active {
  border: 1px solid #344B74;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  background: #c3d9ff;
  background: -moz-linear-gradient(top, #c3d9ff 0%, #b1c8ef 41%, #98b0d9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3d9ff), color-stop(41%,#b1c8ef), color-stop(100%,#98b0d9));
  background: -webkit-linear-gradient(top, #c3d9ff 0%,#b1c8ef 41%,#98b0d9 100%);
  background: -o-linear-gradient(top, #c3d9ff 0%,#b1c8ef 41%,#98b0d9 100%);
  background: -ms-linear-gradient(top, #c3d9ff 0%,#b1c8ef 41%,#98b0d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 );
  background: linear-gradient(top, #c3d9ff 0%,#b1c8ef 41%,#98b0d9 100%);
}

.header a:hover.active {
  color: white;
}

.logo {
  height: 100px;
}
