// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pages {
  height: 100%;
  margin-bottom: 1px;
  background: #93cede;
  background: -moz-linear-gradient(top, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93cede), color-stop(41%,#75bdd1), color-stop(100%,#49a5bf));
  background: -webkit-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%);
  background: -o-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%);
  background: -ms-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 );
  background: linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%);

  #content {
    padding: 40px;
  }
  h1 {
    font-family: 'Changa One', sans-serif;
    font-size: 8em;
    color: #222;
    text-shadow: 0px 2px 3px #93cede;
  }
  h2 {
    font-size: 4em;
    color: #222;
    text-shadow: 0px 2px 3px #93cede;
  }
  #error_explanation{
    background: #febbbb; /* Old browsers */
background: -moz-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febbbb), color-stop(45%,#fe9090), color-stop(100%,#ff5c5c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* IE10+ */
background: linear-gradient(top, #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
  }
  #error_explanation ul {
    list-style-type: none;
  }
}

