// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.header {
  padding: 0.6em;
  background-color: #0c0c0c;
  color: white;
  height: 1.5em;
}

.header .header_left { 
  float: left;
}
.header .header_right {
  float: right;
}

.header li {
  display: inline;
  margin: 0px, 5px;
  padding: 3px;
}

.header a:visited, .header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  color: #739FCE;
  text-decoration: none;
}

.class_box_shadow{
    background: #ccc;
    box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);
}

